<div class="conatiner-fluid bg-darkblue header-container d-flex align-items-center">
  <div class="mr-auto">
    <a class="trendy" routerlink="/">
      <img src="assets/trendy.svg" alt="">
    </a>
    <a class="" routerlink="/">
      <img src="assets/listy.svg" alt="">
    </a>
  </div>
  <div class="mx-auto logo-center">
    <a class="" routerlink="/">
      <img src="assets/profitly-logo.svg" alt="">
    </a>
  </div>
  <div class="text-darkText f-12">
    <span class="pt-1">Don’t have an online store yet? Start selling online with </span>
    <img src="assets/shopify-logo.svg" alt="">
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-darkblue menu-container">
  <div class="mx-auto logo-center">
    <a class="logo" routerlink="/">
      <img src="assets/logo.svg" alt="">
    </a>
  </div>
  <div class="nav-block collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link menu-items" routerlink="/">
          <img src="assets/home.svg" alt="home">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-items" routerlink="/">
          <img src="assets/saved.svg" alt="saved">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-items" routerlink="/">
          <img src="assets/collection.svg" alt="saved">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-items" routerlink="/">
          <img src="assets/gift.svg" alt="saved">
        </a>
      </li>
      <li class="nav-item position-relative" ngbDropdown display="dynamic" placement="bottom">
        <div class="nav-link menu-items-profile rounded-pill pointer" ngbDropdownToggle>
          <img src="assets/profile-small.png" alt="saved">
          <span class="profile-name">Ivan</span>
        </div>
        <div class="reset dropdown-menu-right my-custom-dropdown" ngbDropdownMenu>
          <div class="card profile-block">
            <div class="card-body">
              <div class="profile-data">
                <span class="menu-items menu-icons"><img src="assets/profile.png" alt="Ivan"></span>
                <div class="refer-text">
                  <div class="main">Ivan Avramenko</div>
                  <a class="sub" routerlink="/">Manage your account</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="refer-block">
                <a class="list-group-item" routerlink="/">
                  <span class="menu-items menu-icons"><img src="assets/gift-grey.svg" alt="Home"></span>
                  <div class="refer-text">
                    <div class="text-secondary-blue main">Refer a Friend</div>
                    <div class="sub">Get a free month of Trendy PRO</div>
                  </div>
                </a>
              </div>
              <div class="divider"></div>
              <div class="menu-block">
                <div class="list-group">
                  <a class="list-group-item" routerlink="/">
                    <span class="menu-items menu-icons"><img src="assets/home-grey.svg" alt="Home"></span>
                    <span>Home</span>
                  </a>
                  <a class="list-group-item">
                    <span class="menu-items menu-icons"><img src="assets/saved-grey.svg" alt="Saved"></span>
                    <span>Saved Products</span>
                  </a>
                  <a class="list-group-item">
                    <span class="menu-items menu-icons"><img src="assets/collection-grey.svg" alt="Collections"></span>
                    <span>My Collections</span>
                  </a>
                  <a class="list-group-item">
                    <span class="menu-items menu-icons"><img src="assets/affiliates.svg" alt="Affiliates"></span>
                    <span>Affiliates</span>
                  </a>
                  <a class="list-group-item">
                    <span class="menu-items menu-icons"><img src="assets/terms.svg" alt="Terms"></span>
                    <span>Terms of Service</span>
                  </a>
                  <a class="list-group-item">
                    <span class="menu-items menu-icons"><img src="assets/sign-out.svg" alt="Signout"></span>
                    <span>Sign Out</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid padding-20">
  
</div>